/**--Stylesheet for normal viewport-->*/


html, body {
	margin: auto;
	padding:2px 3px 2px 3px;
	font-family:'Josefin Sans', sans-serif;
	color:black;
	font-size:1em;
	align-content:center;
	background-color:black;
}

header{display: block;
	background: url(entetemobile.png) top right no-repeat;
	margin:0;
	padding:0;
	min-height: 150px;
	color:black;
	
}


/**--navigation menu for viewport sup to 30em-->*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: auto;
	overflow:hidden;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a4b357+0,75890c+100&0.81+9,1+70 */
background: -moz-linear-gradient(top,  rgba(164,179,87,0.81) 0%, rgba(160,175,80,0.81) 9%, rgba(131,150,34,1) 70%, rgba(117,137,12,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(164,179,87,0.81) 0%,rgba(160,175,80,0.81) 9%,rgba(131,150,34,1) 70%,rgba(117,137,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(164,179,87,0.81) 0%,rgba(160,175,80,0.81) 9%,rgba(131,150,34,1) 70%,rgba(117,137,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfa4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */

    top: auto;
	border:3px solid white;

	
	}

ul li {display:inline;
    float: left;
	vertical-align: middle;
	padding:0.5em;

}

li a {  display: inline-block;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:0.9em;
    color: white;
    text-align: auto;
    padding: 0.62em 0.75em;
    text-decoration: none;
}



nav a:link {
		color: whitesmoke;
	}

nav a:visited {
		color: oldlace;
	}
li a:hover:not(.active) {
    background-color:#996633;}

nav a:hover{transform:scale(1.3,1.3);
	transform:translate(5px,5px);}

nav a:active{background-color:chocolate;}


.titre{background-image:url(fondmobile.png);
	font-size: 1.35em;
	font-family:'Ubuntu', sans-serif;
	text-align: left;
	background-size:  220px 60px;
	background-repeat:  no-repeat;
	padding-bottom:10px;}


.titre:hover{transform:rotatez(-2deg);}
.titre:hover{color:white;}

	   

	
	/**--Main content-->*/

#content{
	display:block;
	background-image:url(fond.jpg);
		padding:0.25em 0.25em 0.25em 0.25em;
		background-size:cover;
		background-position:top;
		background-repeat:repeat;
		background-clip:padding-box;
		background-origin:border-box;
		border-top:3px solid #99cc00;
		border-bottom: 3px solid #99cc00;
		height:auto;
		text-align:justify;}
	
	main::after{content:"Editing : December 6 2016";
	display:block;
	color:coral;
	font-style:italic;
	font-size:0.65em;
	line-height:2em;
	text-align:right;
	text-shadow:3px 6px 2px rgba(0,0,0,.3);
		}

main a:link{color:brown;}
main a:visited{color:sienna;}
main a:hover{color:black;
	transform:scale(1.3,1.3);
	transform:translate(5px,5px);}



h1{
	margin-left:10px;
font-family:'Arima Madurai', cursive;
		font-size: 3em;
	color:white;
line-height: 1px;}

h2 
{	font-family: 'Arima Madurai',cursive;
	font-size:2em;
	text-shadow:0.15em 0.3em 0.15em rgba(0,0,0,.3);
	margin:5px 30px 5px 30px;
	padding: 5px 5px 5px 5px;
	color:ffffff;
}

h2:hover{transform:rotatez(2deg);}


p{
	margin :10px 30px 10px 30px;
	padding:5px 1px 5px 1px;
	font-size:1.2em;
	line-height:1.5em;
}


#content:fist-child::first-letter{
	float:left;
	font-size:1.8em;
	margin-top:-0.05em;
	margin-right:0.15em;
	color:#996633;
}

h3
{font-family: 'Arima Madurai',cursive;
	font-size:1.55em;
margin:10px 10px 10px 10px 10px;
padding: 5px 5px 5px 5px;
}

	
img{
	max-width:100%;
	max-height:100%;
}

figure img{
	padding:4px;
	border:4px double hsla(80, 15%, 49%, 0.7);
	border-radius:0.85em;
	
}

img:hover,focus{ -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2);}

/**--index-->*/
.first{
	float:left;
}

.daim{
	float:right;
	vertical-align: text-top;
	max-width:auto;
	

}

/**--habitat-->*/

div.profil{
	float:left;
	height:auto;
	margin:10px;
	}



div.soustitre{
	float:left;
	max-width:750px;
	height:auto;
	margin:0em;
}


div.toundra{
	float:left;
	display:block;
	align-content:center;
	margin-left:20px;
	margin-right:10px;
	margin-top:20px;
	clear:both;}
	
figure.caribou{
  float:right;
  margin: 20px;
  padding:0.75em;
  max-width:300px;
  height:auto%;
}



figure.cerfasie{
  float:left;
  margin: 20px;
  padding:0.75em;
  max-width:300px;
  height:auto%;
}

figure.cerfjaponese{
	display:inline;
	float:right;
  margin: 20px;
  padding:0.75em;
  padding-bottom:0em;
  max-width:300px;
  height:auto%;
}


/**--human interactions-->*/

.silhouette{float:left;
}

.sentence:{float:right;}




.columns{
	  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  column-gap: 2em;
  margin:5px;
}


iframe{
	border:3px solid hsla(80, 15%, 49%, 0.7);
	padding:0.25em;
	border-radius:3px;
	width:auto;
	
}



/**--footer-->*/

footer
{display:block;
background: black;
	color:white;
	padding:0.15em 0.15em 0.15em 0.15em;
	border-bottom:3px solid #99cc00;
	font-family: 'Special Elite', cursive;
	text-align:justify;
	font-size: 0.7em;
	line-height: 0.6em;
}

footer a:link {
	color: whitesmoke;}
footer a:hover{color:black;transform:scale(1.4,1.4);
	transform:translate(5px,5px);
	}

footer a:visited {
		color: darkorange;
	}


	
/**--special styles depending of the width of viewport-->*/

/**--navigation menu  40em<viewport<60em-->*/

@media only screen and (min-width:40em) and (max-width:60em) {
	nav{font-size:0.7em;}}

/**--navigation menu  30em<viewport<40em -->*/

@media only screen and (min-width:30em) and (max-width:40em) {
	nav{font-size:0.50em;}}



/**--Menu de navigation du site pour ecran mobile-->*/

@media only screen and (max-width:30em){

	header{background:url(entetemobile.png) bottom right no-repeat;}
	nav{
		position: fixed; z-index:5;
  		left: auto;
  		top: 40%;
  		width: 8em;
		height: auto;
  		margin-top: -2.5em;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		}
  	

	ul{	 
		margin-left:0;
	  	padding-left:0;
		margin-bottom: 0;
		list-style-type: none;
	}
	
  li {
	  	font-family: 'Ubuntu', sans-serif; 
	  	font-size: 0.80em;
	  	line-height: 0.75em;
	 }
	
	li a{display:block;
		width: 7em;
		color:ghostwhite;
		text-decoration: none;
	font-variant-caps:titling-caps;
		font-style: normal;
	}
	
	/* Rotate li */
	a:hover{
		transform:scale(1.1,1.1)
}
	
	h1{vertical-align: middle;
		font-size: 1.9em;}
	
	#content {
	display:block;
	background-image:none;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d5cea6+0,c9c190+40,b7ad70+100;Brown+3D */
background: rgb(213,206,166); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(213,206,166,1) 0%, rgba(201,193,144,1) 40%, rgba(183,173,112,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70',GradientType=0 ); /* IE6-9 */

		color:black;
		border-top:4px solid white;
		border-bottom: 4px solid white;
		}

	iframe{
	border:3px solid hsla(80, 15%, 49%, 0.7);
	padding:0.25em;
	border-radius:3px;
	max-width:100%;
	
}
	
	.one{
	margin:10px;
	padding:0.25em;
	clear:both;
	}

.columns{
	  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 2em;
  column-gap: 2em;
  margin:10px;
}

	footer
{display:block;
	background-color: black;
	color:white;
	padding:0.15em 0.15em 0.15em 0.15em;
	border-bottom:4px solid white;
	font-family: 'Special Elite', cursive;
	text-align:justify;
	font-size: 0.7em;
	line-height: 0.6em;
}



